a:visited {
        color: blue;
        text-decoration: none;
        border : 0;
}
a {
        color: blue;
        text-decoration: none;
        border : 0;
}
.navigation a:hover {color: #06C;font-style:italic}

body {
	margin-bottom: 0px;
	background-color: #FFFFFF;
}
td, textarea, input, select {
	font-family: "Lucida Sans Unicode",sans-serif;
	font-size: 12px;
	/*color: 6f6f6f;*/
	font-weight: normal;
	line-height: 14px;
}

.frame {
	border: 1px solid #B75351;
}

.LoginText {
	font-family: tahoma;
	font-size: 11px;
	color:#FFF;
	font-weight: bold;
}



/* main */
.main {
	background: url(../images/main.gif) repeat-y;
	border-top: 4px solid #FFF;
	padding: 8px 12px 0 0;
}

/* content */
.content {
	float: right;
	width: 538px;
        
}
.content .descr {
	color: #664;
	font-size: 0.9em;
	margin-bottom: 6px;
}
.content li {
	list-style: url(../images/li.gif);
	margin-left: 18px;
}
.content p {font-family: "Lucida Sans Unicode",sans-serif;}
/* navigation */
.navigation {
	float: left;
	width: 210px;
}
.navigation h2 {
	color: #5A5A43;
	font: bold 1.1em Tahoma,sans-serif;
	line-height: 30px;
	margin: 0;
	padding-left: 12px;
}
.navigation ul {
	padding: 0;
	border-top: 1px solid #EAEADA;
}
.navigation li {border-bottom: 1px solid #EAEADA;}
.navigation li a {
	font-size: 1.1em;
	color: #554;
	display: block;
	padding: 8px 0 8px 5%;
	text-decoration: none;
	width: 95%;
}
.navigation li a:hover {
	background: #F0F0EB;
	color: #654;
}
code {
	background: #FFF;
	border: 1px solid #EEE;
	border-left: 6px solid #CCC;
	color: #666;
	display: block;
	font: normal 1em Tahoma,sans-serif;
	line-height: 1.6em;
	margin-bottom: 12px;
	padding: 8px 10px;
	white-space: pre;
}
h1 {font: normal 1.8em Tahoma,sans-serif;}
h2 {font: bold 1.4em sans-serif;}
h3 {font: bold 1em Tahoma,sans-serif;}
h1,h2,h3 {padding-top: 6px; color: #553; margin-bottom: 4px;}
li {list-style: none;}
p,code,ul {padding-bottom: 1.2em;}
blockquote {
	background: url(../images/quote.gif) no-repeat;
	display: block;
	font-weight: bold;
	padding-left: 28px;
}
/* path */
.path {
	background: #949490;
	color: #FFF;
	font: normal 1.1em Verdana,sans-serif;
	padding: 8px 12px;
}
.path a {
	color: #FAFAFA;
	text-decoration: none;
}
.path a:hover {
	color: #FFE;
	text-decoration: underline;
}